<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/style/cart.css">

  <link rel="stylesheet" href="../public/style/footer.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

  <title>Usuarios</title>
</head>

<body>
  <h1>Shopping Cart</h1>

  <div class="shopping-cart">

    <div class="column-labels">
      <!--label class="product-image">Image</label-->
      <label class="product-details">Product</label>
      <label class="product-price">Price</label>
      <label class="product-removal">Remove</label>
      <label class="product-line-price">Total</label>
    </div>

    <div class="product">
      <!--div class="product-image">
        <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
      </div-->
      <div class="product-details">
        <div class="product-title">Audifono</div>
        <p class="product-description">Audifono inalambrico recargable.</p>
      </div>
      <div class="product-price">40.00</div>
      <div class="product-removal">
        <button class="remove-product">
          Remove
        </button>
      </div>
      <div class="product-line-price">40.00</div>
    </div>

    <div class="product">
      <!--div class="product-image">
        <img src="https://s.cdpn.io/3/large-NutroNaturalChoiceAdultLambMealandRiceDryDogFood.png">
      </div-->
      <div class="product-details">
        <div class="product-title">Reloj</div>
        <p class="product-description">Reloj para hombres de buena marca.</p>
      </div>
      <div class="product-price">70.84</div>
      <div class="product-removal">
        <button class="remove-product">
          Remove
        </button>
      </div>
      <div class="product-line-price">70.84</div>
    </div>

    <div class="totals">
      <div class="totals-item">
        <label>Subtotal</label>
        <div class="totals-value" id="cart-subtotal">110.84</div>
      </div>
      <div class="totals-item">
        <label>Tax (5%)</label>
        <div class="totals-value" id="cart-tax">3.60</div>
      </div>
      <div class="totals-item">
        <label>Shipping</label>
        <div class="totals-value" id="cart-shipping">15.00</div>
      </div>
      <div class="totals-item totals-item-total">
        <label>Grand Total</label>
        <div class="totals-value" id="cart-total">129.44</div>
      </div>
    </div>

    <button class="checkout"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png"
        alt="Check out with PayPal" /></button>
    <!--script src="https://www.paypal.com/sdk/js?client-id=test"></script>
<script>paypal.Buttons().render('body');</script-->

  </div>
</body>

<!--footer>
  <div class="content">
    <div class="left box">
      <div class="upper">
        <div class="topic">Nosotros</div>
        <p>Device Parts, es un emprendimiento sobre venta de partes de dispositivos
          electrónicos, en la cual tambien puedes solicitar pedidos.</p>
      </div>
      <div class="lower">
        <div class="topic">Contact us</div>
        <div class="phone">
          <a href="#"><i class="fas fa-phone-volume"></i>+507 204 6767</a>
        </div>
        <div class="email">
          <a href="#"><i class="fas fa-envelope"></i>clientedp@dp.com</a>
        </div>
      </div>
    </div>
    <div class="middle box">
      <div class="topic">Nuestros servicios</div>
      <div><a href="#">Partes de dispositivos electrónicos</a></div>
      <div><a href="#">Pedidos</a></div>
      <div><a href="#">Reparaciones</a></div>
      <div><a href="#">Mantenimiento</a></div>
    </div>
    <div class="right box">
      <div class="topic">Suscribete</div>
      <form action="#">
        <input type="text" placeholder="Correo electrónico">
        <input type="submit" name="" value="Send">
        <div class="media-icons">
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
          <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </form>
    </div>
  </div>
  <div class="bottom">
    <p>Copyright © 2021 <a href="./index.html">Device Part</a> todos los derechos reservados</p>
  </div>
</footer-->

</html>