<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/style/cart.css">

  <!-- <link rel="stylesheet" href="../public/style/footer.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" /> -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <title>Cart-User</title>
</head>

<body>
  <div class="global-container-cart">
    <h1>Shopping Cart</h1>
    <br>
    <div class="shopping-cart">
      <div class="column-labels">
        <label class="product-price">Product</label>
        <label class="product-price">delete</label>
        <label class="product-price">Price</label>
        <label class="product-removal">Remove</label>
        <label class="product-line-price">Total</label>
      </div>

      <div id="iteams-list">
        <!-- <div class="product">
          <div class="product-details">
            <div class="product-title">Audifono</div>
            <p class="product-description">Audifono inalambrico recargable.</p>
          </div>
          <div class="product-removal">
            <button class="remove-product">Remove</button>
          </div>
          <div class="product-line-price">40.00</div>
        </div> -->
      </div>

      <div class="totals">
        <div class="totals-item">
          <label>Subtotal</label>
          <div class="totals-value" id="cart-subtotal">110.84</div>
        </div>
        <div class="totals-item">
          <label>Tax (7%)</label>
          <div class="totals-value" id="cart-tax">3.60</div>
        </div>
        <div class="totals-item">
          <label>Shipping</label>
          <div class="totals-value" id="cart-shipping">12.00</div>
        </div>
        <div class="totals-item totals-item-total">
          <label>Grand Total</label>
          <div class="totals-value" id="cart-total">129.44</div>
        </div>
      </div>

      <button class="checkout"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png"
          alt="Check out with PayPal" /></button>
      <!--script src="https://www.paypal.com/sdk/js?client-id=test"></script>
  <script>paypal.Buttons().render('body');</script-->
    </div>
  </div>
  <script src="../public/js/cart.js"></script>
</body>
</html>