<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../public/style/footer.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>


  <footer>
    <div class="content">
      <div class="left box">
        <div class="upper">
          <div class="topic">Nosotros</div>
          <p>Device Parts, es un emprendimiento sobre venta de partes de dispositivos
            electrónicos, en la cual tambien puedes solicitar pedidos.</p>
        </div>
        <div class="lower">
          <div class="topic">Contact us</div>
          <div class="phone">
            <a href="#"><i class="fas fa-phone-volume"></i>+507 204 6767</a>
          </div>
          <div class="email">
            <a href="#"><i class="fas fa-envelope"></i>clientedp@dp.com</a>
          </div>
        </div>
      </div>
      <div class="middle box">
        <div class="topic">Nuestros servicios</div>
        <div><a href="#">Partes de dispositivos electrónicos</a></div>
        <div><a href="#">Pedidos</a></div>
        <div><a href="#">Reparaciones</a></div>
        <div><a href="#">Mantenimiento</a></div>
      </div>
      <div class="right box">
        <div class="topic">Subscrite</div>
        <form action="#">
          <input type="text" placeholder="Correo electrónico">
          <input type="submit" name="" value="Send">
          <div class="media-icons">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </form>
      </div>
    </div>
    <div class="bottom">
      <p>Copyright © 2021 <a href="./index.html">Device Part</a> todos los derechos reservados</p>
    </div>
  </footer>

</body>

</html>