<!DOCTYPE html>
<html lang="en" dir="ltr">

<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<link href="../public/style/header.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>

<header>
  <!-- contact content -->
  <div class="header-content-top">
    <div class="content">
      <span><i class="fas fa-phone-square-alt"></i> +507 6767-2042</span>
      <span><i class="fas fa-envelope-square"></i>clientedp@dp.com</span>
    </div>
  </div>
  <!-- / contact content -->
  <div class="container">
    <!-- logo -->
    <strong class="logo"><i class="fas fa-robot"></i></strong>
    <!-- open nav mobile -->

    <!--search -->
    <label class="open-search" for="open-search">
      <i class="fas fa-search"></i>
      <input class="input-open-search" id="open-search" type="checkbox" name="menu" />
      <div class="search">
        <button class="button-search"><i class="fas fa-search"></i></button>
        <input type="text" placeholder="What are you looking for?" class="input-search" />
      </div>
    </label>
    <!-- // search -->
    <nav class="nav-content">
      <!-- nav -->
      <ul class="nav-content-list">
        <li class="nav-content-item account-login">
          <label class="open-menu-login-account" for="open-menu-login-account">

            <input class="input-menu" id="open-menu-login-account" type="checkbox" name="menu" />

            <i class="fas fa-user-circle"></i><span class="login-text">Hola, inicie sesión <strong>Crear cuenta</strong></span> <span class="item-arrow"></span>

            <!-- submenu -->
            <ul class="login-list">
              <li class="login-list-item"><a href="#">Mi cuenta</a></li>
              <li class="login-list-item"><a href="#">Crear cuenta</a></li>
              <li class="login-list-item"><a href="#">Salir</a></li>
          </label>
      </ul>
      </li>
      <li class="nav-content-item"><a class="nav-content-link" href="#"><i class="fas fa-shopping-cart"></i></a></li>
      <!-- call to action -->
      </ul>
    </nav>
  </div>
</header>

</html>

