<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/app.css">

    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link href="../public/style/header.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>

    <script src="../public/js/header.js" type="text/javascript" defer></script>
    <script src="../public/js/footer.js" type="text/javascript" defer></script>

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../public/style/product.css" rel="stylesheet">

  <link rel="stylesheet" href="../public/style/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

    <title>Device Part</title>
</head>

<header>

    <!-- contact content -->
    <div class="header-content-top">
        <div class="content">
            <span><i class="fas fa-phone-square-alt"></i> +507 6767-2042</span>
            <span><i class="fas fa-envelope-square"></i>clientedp@dp.com</span>
        </div>
    </div>
    <!-- / contact content -->
    <div class="container">
        <!-- logo -->
        <strong class="logo"><i class="fas fa-robot"></i></strong>
        <!-- open nav mobile -->

        <!--search -->
        <label class="open-search" for="open-search">
            <i class="fas fa-search"></i>
            <input class="input-open-search" id="open-search" type="checkbox" name="menu" />
            <div class="search">
                <button class="button-search"><i class="fas fa-search"></i></button>
                <input type="text" placeholder="¿Qué buscas?" class="input-search" />
            </div>
        </label>
        <!-- // search -->
        <nav class="nav-content">
            <nav>
            <ul class="nav-content-list">
                <li class="nav-content-item account-login">
                    <label class="open-menu-login-account" for="open-menu-login-account">

                        <input class="input-menu" id="open-menu-login-account" type="checkbox" name="menu" />

                        <i class="fas fa-user-circle"></i><span class="login-text">Hola, inicie sesión <strong>Crear
                                cuenta</strong></span> <span class="item-arrow"></span>

                        <!-- submenu -->
                        <ul class="login-list">
                            <li class="login-list-item"><a href="./login.html">Mi cuenta</a></li>
                            <li class="login-list-item"><a href="./SingUp.html">Crear cuenta</a></li>
                            <li class="login-list-item"><a href="#">Salir</a></li>
                    </label>
            </ul>
            </li>
            <li class="nav-content-item"><a class="nav-content-link" href="./cart.html"><i
                        class="fas fa-shopping-cart"></i></a></li>
            <!-- call to action -->
            </ul>
        </nav>
    </div-->
    

    <!--iframe src="header.html"-->

</header>

<body>

    <!--iframe src="header.html" name="header" height="500px" width="100px"></iframe><br><br><br><br-->
    <!--link rel="import" href="header.html"-->
    <!--object data="./header.html" width="100%" height="250px">
        <embed src="./header.html" width="100%" height="100%"> </embed>
        Error: Embedded data could not be displayed.
    </object-->
    <!--header-component></header-component-->

    <!--main-->


    <!--iframe src="../views/product.html"></iframe><br><br><br><br><br><br><br><br><br><br><br><br-->

    <!--link id="template-file" rel="import" href="/Semestral/frontend/product/product.html"/-->
    <!--iframe src="product/product.html" scrolling="no" frameborder="500px" id="inlineFrameExample"></iframe-->
    <!--/main-->

    


    <!--iframe src="footer.html" scrolling="no" frameborder="500px" id="inlineFrameExample"></iframe-->
    <!--link id="template-file" rel="import" href="footer.html"/-->
    <!--footer-component></footer-component-->

    <div class="gallery">
      <div class="content">
        <img src="../public/img/headP.crdownload">
        <h3>Audífono</h3>
        <p>Audifonos grandes inalambrico</p>
        <h6>$50.00</h6>
        <ul>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
        </ul>
        <button class="buy-1">Buy Now</button>
      </div>
      <div class="content">
        <img src="../public/img/earphone.png">
        <h3>Audífono</h3>
        <p>Audifono inalambrico recargable.</p>
        <h6>$40.00</h6>
        <ul>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
        </ul>
        <button class="buy-2">Buy Now</button>
      </div>
      <div class="content">
        <img src="../public/img/watch.png">
        <h3>Reloj</h3>
        <p>Reloj para hombres de buena marca</p>
        <h6>$70.84</h6>
        <ul>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
        </ul>
        <button class="buy-3">Buy Now</button>
      </div>
    </div>

</body>

<footer>
    <!--div class="content">
      <div class="left box">
        <div class="upper">
          <div class="topic">Nosotros</div>
          <p>Device Parts, es un emprendimiento sobre venta de partes de dispositivos
            electrónicos, en la cual tambien puedes solicitar pedidos.</p>
        </div>
        <div class="lower">
          <div class="topic">Contact us</div>
          <div class="phone">
            <a href="#"><i class="fas fa-phone-volume"></i>+507 204 6767</a>
          </div>
          <div class="email">
            <a href="#"><i class="fas fa-envelope"></i>clientedp@dp.com</a>
          </div>
        </div>
      </div>
      <div class="middle box">
        <div class="topic">Nuestros servicios</div>
        <div><a href="#">Partes de dispositivos electrónicos</a></div>
        <div><a href="#">Pedidos</a></div>
        <div><a href="#">Reparaciones</a></div>
        <div><a href="#">Mantenimiento</a></div>
      </div>
      <div class="right box">
        <div class="topic">Suscribete</div>
        <form action="#">
          <input type="text" placeholder="Correo electrónico">
          <input type="submit" name="" value="Send">
          <div class="media-icons">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </form>
      </div>
    </div>
    <div class="bottom">
      <p>Copyright © 2021 <a href="./index.html">Device Part</a> todos los derechos reservados</p>
    </div-->

    <!--iframe src="footer.html"></iframe-->

  </footer>

</html>