<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/login.css">

    <title>Login</title>
</head>
<body>
<ul class="nav">
  </ul>
  <div class="wrapper">
    <div class="rec-prism">
      <div class="face face-front">
        <div class="content">
          <h2>Sign in</h2>
          <form id="form-login">
            <div class="field-wrapper">
              <input type="text" name="email" placeholder="email">
              <label>email</label>
            </div>
            <div class="field-wrapper">
              <input type="password" name="password" placeholder="password" autocomplete="new-password">
              <label>password</label>
            </div>
            <div class="field-wrapper">
              <input type="submit" value="Iniciar Sesión">
            </div>
            <a class="signup" href="../views/SingUp.html">Not a user?  Sign up</a>
            <span class="psw">Forgot Password?</span>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="../public/js/login.js"></script>
</body>