<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../public/style/product.css" rel="stylesheet">
  </head>
  <body>
    <div class="gallery">
      <div class="content">
        <img src="../public/img/teclado.png">
        <h3>Teclado</h3>
        <p>Teclado para computadora</p>
        <h6>$50.00</h6>
        <ul>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
        </ul>
        <button class="buy-1">Buy Now</button>
      </div>
      <div class="content">
        <img src="../public/img/earphone.png">
        <h3>Audifono</h3>
        <p>Audifono inalambrico recargable.</p>
        <h6>$40.00</h6>
        <ul>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
        </ul>
        <button class="buy-2">Buy Now</button>
      </div>
      <div class="content">
        <img src="../public/img/watch.png">
        <h3>Reloj</h3>
        <p>Reloj para hombres de buena marca</p>
        <h6>$70.84</h6>
        <ul>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
        </ul>
        <button class="buy-3">Buy Now</button>
      </div>
    </div>
  </body>
</html>