@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');

body {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
background-attachment: fixed;
  background-repeat: no-repeat;

    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */

}

iframe{
    width: 100%;
    height: 650px;
    position: fixed;
    border: none;
    display: block;
}

/*.header{
    width: 100%;
    height: 350px;
    position: relative;
}*/

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-left: 3rem;
    padding-top: 1rem;
}
